<aside>
<ul id="sidebar-nav"> 
<li><a href="#">HABER İŞEMLERİ</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/kalite"><img src="/Areas/Admin/Content/images/icons/16/page.png">Kalite Bel. Listesi</a></li>
    <li><a href="/yonetim/kaliteekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Belge</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>
