<div id="footer">
  <div class="container">
    <div class="col-md-9   noPadding noMarginTop"><ul class="nav nav-pills">
      <li><a href="kurumsal.html">Kurumsal</a></li>
      <li><a href="#">Ürünler/Hizmetler</a></li>
      <li><a href="haberler.html">Haberler</a></li>
      <li><a href="fiyat-listesi.html">Fiyat listesi</a></li>
      <li><a href="makine-ve-arac-parkuru.html">Makine ve Araç Parkuru</a></li>
      <li><a href="galeri.html">Galeri</a></li>
      <li><a href="referanslar.html">Referanslar</a></li>
      <li class="last"><a href="iletisim.html">İletişim</a></li>
    </ul>
     </div>
    <div class="col-md-3  wortec"> Web Tasarım ve Yazılım <a href="http://www.wortec.net">WORTEC</a> </div>
    <div class="col-md-12 copyright">©2014 AS-TON. Her hakkı saklıdır. </div>
  </div>
</div>