@model web.Models.VMProductGroupModel
 
<div class="col-md-12 col-md-pull-0 menu noPadding">
    <ul class="nav nav-pills">
        <li><a href="/kurumsal">Kurumsal</a></li>
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ürünler/Hizmetler</a>
            <ul class="dropdown-menu  multi-level" role="menu" aria-labelledby="dropdownMenu">
                @{Html.RenderPartial("_submenu", Model);}
            </ul>
        </li>
        <li><a href="/haberler">Haberler</a></li>
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fiyat Listesi</a>
        <ul class="dropdown-menu">
            @foreach (var item in Model.ProductGroup.Where(d=>d.TopProductId == 1))
            {
                <li><a href="/fiyatlar/@item.ProductGroupId/@item.PageSlug">@item.GroupName</a></li>   
            }
        </ul>
        </li>
        <li><a href="makine-ve-arac-parkuru.html">Makine ve Araç Parkuru</a></li>
        <li><a href="galeri.html">Galeri</a></li>

        <li><a href="/referanslar">Referanslar</a></li>
        <li class="last"><a href="/iletisim">İletişim</a></li>

    </ul>
</div>
