<aside>
<ul id="sidebar-nav"> 
<li><a href="#">KATALOG</a>
<ul class="drop" style="display: block;">
     <li>@*<a href="/yonetim/galerigruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Galeri Grupları</a>*@</li>
    <li><a href="/yonetim/katalogresimekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Kataloga Resim Ekle</a></li>
    <li><a href="/yonetim/katalogresimleri"><img src="/Areas/Admin/Content/images/icons/16/page.png">Katalog Resimleri</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>




