@{
    ViewBag.Title = "Gellery";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
@section breadcrumb{
    <div class="col-md-12 breadcrumb">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li>Galeri</li>
        </ul>
    </div>
}